// КНОПКИ, ССЫЛКИ и ПР

.button
  padding: 12px 21px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-family: 'Futura Demi', cursive
  font-size: 0.93rem
  &:hover
    cursor: pointer
  &--primary
   background-color: $primary
   color: $light
   box-shadow: 0px 5px 15px rgba($primary, 0.2)
   transition: box-shadow 0.3s
   transition: background-color 0.3s
   &:hover
     background-color: darken($primary, 10%)
  &--outline
    border: 1px solid $light
    padding: 18px 42px !important
    background-color: transparent
    color: $light
    transition: box-shadow 0.3s
    transition: border-color 0.3s
    &:hover
      border-color: $primary

.label
  font-size: 1.07rem  
  &--dark
    color: rgba(54, 54, 54, 0.5)
  &--light
    color: rgba($light, 0.5)   
     

.input
  background-color: transparent
  border: none
  font-size: 1.285rem
  padding: 0.5rem 0
  outline: none
  &--dark
    border-bottom: 1px solid rgba(54, 54, 54, 0.3)
    color: $gray
    &::placeholder
      color: $gray
  &--light
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
    color: $light
    font-family: 'Futura Medium', cursive
    font-weight: 500
    &::placeholder
      color: $light

.policy
  &__checkbox  
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem
  &__label
    display: flex
    align-items: center
    font-size: 1.142rem
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
    &--center
      justify-content: center  
        


.scrollup
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  font-family: 'Yeseva One', cursive
  font-size: 0.85rem
  text-transform: uppercase
  color: $light
  text-decoration: none
  padding: 5px 10px
  text-align: center
  bottom: 0
  right: 0
  z-index: 1000
  &:hover 
      color: $primary
  &::before
    content: ''
    background: url('../img/arrow-down.svg') no-repeat center
    width: 30px
    height: 30px
    border: 1px solid $primary
    border-radius: 50%
    margin-right: 12px
    transform: rotate(180deg)

.input-group-invalid
  & div
    &.invalid   
    color: tomato
    position: absolute
    margin-top: 4rem
  &-control, &-footer  
    & div
      &.invalid 
        color: tomato
        position: absolute
        margin-top: 3.1rem
input
  &.invalid
    border-bottom: 1px solid tomato  

.policy-invalid--left 
  & div
   &.invalid   
    color: tomato
    position: absolute
    margin-top: 1.5rem
    font-size: 1rem
.policy-invalid--center 
  & div
   &.invalid   
    color: tomato
    position: absolute
    margin-top: 1.5rem
    font-size: 1rem
   
  


  
 



    