@media screen and ( max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem


@media screen and ( max-width: 1300px)
  html
    font-size: 12px      

@media screen and ( max-width: 991px)
  .col-45, .col-55
    width: 90%
  .button
    &--primary
      &:hover
        background-color: $primary
    &--outline
      &:hover
       border-color: $light    
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0 
  .swiper
    &-slide  
      &__heading
        font-size: 1.16rem 
      &__wrap
       width: auto   
       margin-bottom: 2rem
       &--img
        padding-top: 3rem;
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 6.2rem 
  .design
    &__card
      margin-bottom: 6.7rem       
  .card
    &__text
      margin-left: 0   
  .design
    background-color: $dark 
    &__section-title
      color: $light   
  .section
    &-title     
      &__subtitle
        &--design p
        color: $light 
      &__word         
        &::after
          display: none
      &__text
        font-size: 1.17rem    
  
 
  
@media screen and ( max-width: 576px)
  .container
    width: 90%
    .menu
      &__logo
        margin-left: 0
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.91rem
    line-height: 1.4
    max-width: 22.86rem
  .hero
    padding-top: 0
    &__sсroll-down
      display: none
    &__content
      padding: 0 1.28rem
      margin-left: 0
    &__text
      font-size: 1.5rem
      margin-bottom: 2.94rem
      max-width: 26.5rem  
      line-height: 2rem
    &__button
      // display: block
      // justify-content: center
      min-width: 98%
      margin-bottom: 1.85rem
      padding: 20px
      font-size: 13px
  .section-title     
    &__text p
      font-size: 1.25rem
      max-width: 25.5rem  
      line-height: 1.6rem
    &__heading
      font-size: 1.83rem  
  .types
    &__section-title
      margin-bottom: 3rem
  .card
    &__text
     padding: 1.79rem 2.14rem 1rem
     margin-top: -11.7rem 
     max-width: 22rem 
    &__list
      font-size: 1.1rem
      line-height: 1.9rem
    &__pricetag
      // bottom: -1.2rem 
      &--types
       padding: 1.1rem 2.5rem
      &--design 
       padding: 1rem 3.9rem 1rem 3.5rem


        
        

@media screen and ( max-height: 520px)
  .hero
    &__sсroll-down
      display: none
  

  