@media screen and ( max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( min-width: 1400px)
  .container
    width: 86%
  .instagram__link
    margin-left: 1.5rem
    margin-top: 5.9rem

@media screen and ( max-width: 1300px)
  html
    font-size: 12px      

@media screen and ( max-width: 992px)
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0  
  
  @media screen and ( max-width: 576px)
    .container
      width: 90%
    .contacts
      &__phone
        margin-right: 0
        color: $light
        text-decoration: none
      &__button
        display: none
    .title
      font-size: 2rem
      max-width: 22.86rem
    .hero
      &__sсroll-down
        display: none
      &__content
        // display: flex
        // flex-wrap: wrap
        // max-width: 22.86rem
        margin-left: 0
      &__text
        font-size: 1.5rem
        margin-bottom: 2.94rem
        max-width: 26.5rem  
        line-height: 2rem
      &__button
        // display: block
        // justify-content: center
        min-width: 100%
        margin-bottom: 1.85rem
        padding: 20px
        
        

@media screen and ( max-height: 520px)
  .hero
    &__sсroll-down
      display: none
  