.fantasy
  background: #131313 url(../img/fantasy_bg.png) no-repeat center / cover
  max-height: 61.7rem
  margin-bottom: 5.5rem
  &__section-title
    margin-top: 4.5rem
    margin-bottom: 2.2rem
  &__list
    margin-left: 0
    padding: 0
  &__item
    list-style-type: none
    font-size: 1.6rem
    line-height: 2.2
    cursor: pointer
    &:hover
      color: $primary
  &__item
    &--active 
      color: $primary
      &::after
        content: ''
        display: block
        position: absolute
        width: 10rem
        height: 1px
        margin-top: -0.8rem
        background-color: #e3b873
    &-wrap   
  &__photo
    &-wrap
      display: flex
      align-items: flex-start
      justify-content: space-between
      position: relative
    &-column  
      // position: absolute
      flex-basis: 48%
      // width: 25.2rem   
  &__swiper
    &-slide
      &-mobil
        visibility: hidden
    &-container
      &-wrap
        margin-top: -13rem
        // position: absolute
      &-mobil
        &__image
          & img
            object-fit: cover
            width: 28.33rem
            height: 20.16rem  
    &-button
      &__wrap
        display: flex
        justify-content: space-between
        align-items: center
        position: absolute
        z-index: 97
        margin-top: -13rem
        margin-left: 4rem
        width: 30rem
      &-prev, &-next  
        width: 36px
        border-radius: 50%
        height: 36px
        margin-left: 4rem
        margin-top: 2rem     
      &-prev
        background: $primary url(../img/fantasy_arrow.svg) no-repeat center
        transform: rotate(180deg)
      &-next
        background: $primary url(../img/fantasy_arrow.svg) no-repeat center
           
     

.photo
  &-column       
    &__left
      margin-top: 5rem
      &__top
        margin-bottom: 2.5rem
        & img
          object-fit: cover
          height: 39rem
      &__bottom
        & img
          object-fit: cover
          height: 25rem  
    &__right
      &__top
        margin-bottom: 2.5rem
        & img
          object-fit: cover
          height: 20rem
      &__bottom 
        & img
          object-fit: cover
          height: 44rem 

      

      