.measurement
  background: url('../img/Measurement.png') no-repeat left 
  &__col-55
    position: relative
    height: 46.07rem
  &__col-45
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center   
  &__form-wrap
    margin-top: 6.7rem
    margin-left: 4rem
    background-color: $dark
    position: relative
    max-width: 36.36rem
    background: $dark url('../img/bg-lines.svg') no-repeat center
    padding: 2.4rem 3.5rem 1.98rem
    color: $light   
  &__service
    position: absolute
    &-one
      margin-top: 8rem
      margin-left: 18rem
    &-two  
      margin-top: 16rem
      margin-left: 23rem
    &-three  
      margin-top: 27.5rem
      margin-left: 25rem
    &-four  
      margin-top: 39rem
      margin-left: 20.5rem
      & span
        max-width: 18.28rem
      

.service
  display: flex
  align-items: center
  &__number
    font-family: 'Yeseva One', cursive
    font-size: 1.28rem
    color: $light
    &-wrap
      display: flex
      align-items: center
      justify-content: center
      margin-right: 1rem
      border-radius: 50%
      width: 3rem
      height: 3rem
      background-color: $primary
  &__text
    font-family: 'Futura Medium', cursive
    font-size: 1.28rem
    line-height: 1.5rem
    color: $gray
    max-width: 26rem

    

.saving
    display: flex
    align-items: center
    justify-content: center 
    &__text
      font-family: 'Futura Demi', cursive    
      color: $primary
      text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15)
      font-size: 1.42rem  
      max-width: 22.71rem
    &__image
      margin-right: 1.82rem   
.moneybox
  display: flex
  align-items: center
  justify-content: center
  width: 5.14rem
  height: 5.14rem
  border-radius: 50%
  background-color: $primary  
  &__image
   width: 40px
   height: 33px 

.shake-animation
  transform-origin: center center
  animation-name: animationMoneybox
  animation-duration: 1s
  animation-delay: 4s
  animation-timing-function: ease-in-out
  // animation-iteration-count: infinite